@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto:wght@100;300;400;700&display=swap');
/*base*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Global */

html {
    font-size: 100%;   
}

body {
    /* width: 100%; */
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -moz-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: -o-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    margin: 75px auto 0;
    flex: 1;
}

.brand-logo {
    background-image: url(../images/logo/logo-dark_sienna.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 200px;
}

/* Navbar */

.navbar-bg {
    background-color: #fdf5bf;
}

/* Card component */

.card {
    margin: 1.5rem;
    max-width: 20rem;
    border: 1px solid #003249;
    border-radius: 1rem;
}

.card-text {
    font-family: "Roboto", sans-serif;
}

/* Button component */

.btn {
    background-color: #65c4c0;
    color: #001c29;
    border-color: #001c29;
}

.btn:hover {
    background-color: #003249;
    border-color: #003249;
}

/* Utility classes */

.page-desc {
    margin: 0 1rem 1rem;
    font-family: "Roboto", sans-serif;
}

.about-title {
    font-family: "Maven Pro", sans-serif;
}

.about-title:after {
    content: '';
    display: block;
    height: 1px;
    width: 60%;
    margin: 5px auto;
    background: #003249;
}

.about-row {
    margin: 1rem auto;
    align-items: center;
}

.custom-form {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fdf5bf;
    border: 1px solid #003249;
    border-radius: 1rem;
    background-clip: border-box;
    width: 90%;
}

.custom-form h2 {
    font-family: "Maven Pro", sans-serif;
}

.custom-form h2:after {
    content: '';
    display: block;
    height: 1px;
    width: 60%;
    margin: 5px auto;
    background: #003249;
}

.form-group {
    margin: 1rem 0;
}

/* main page styles */

.hero-image {
    height: 80vh;
    background: url(../images/pexels-august-de-richelieu-4260325.jpg) no-repeat center 60%;
    background-size: cover;
    color: #003249;
}

.greeting {
    margin: 1.4rem 0;
    font-family: 'Roboto', sans-serif;
}

.greeting::after {
    content: '';
    display: block;
    margin: 0 auto 1rem;
    width: 60%;
    height: 1px;
    background-color: #003249;
}

.brand-logo svg {
    fill: #53131E;
}

.card-row {
    justify-content: center;
}

.hca-title {
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
}

    /* Small dividers to break the card info up */
.hca-title::after, .hca-p2::after {
    content: '';
    display: block;
    height: 1px;
    width: 60%;
    margin: 5px auto;
    background: #003249;
}

div.womenintech h2 {
    text-decoration: underline;
}

.inspirationalwomenpics {
    width: 70%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Registration & Login page */

.registerlogin-wit {
    height: 200px;
    object-fit: contain;
    border-radius: 1rem;
}

/* Error page buttons */
.error__button {
    display: inline-block;  
    padding: 0.5rem 0.6rem;
    margin-bottom: 1rem;
    
    color: #FDF5BF;
    font-size: 1.2rem;
    font-weight: lighter;
    text-shadow: 0 0 0.3rem black;

    border-radius: 2rem;
    box-shadow: 0 0 0.15rem #FDF5BF;

    cursor: pointer;
}

.error__button a:hover {
    color: #e6dead;
}

.error__button--notfound {
    background-color: #FE5F55;
    border: solid 0.1rem #FE5F55;
}
.error__button--notfound:hover {    
    background-color: rgb(253, 65, 51);
}

.error__button--server {
    background-color: #48A9A6;
    border: solid 0.1rem #48A9A6;  
}
.error__button--server:hover {    
    background-color: rgb(13, 131, 127);
}

/* Error pages */

.error__container {  
    max-width: 40rem;/*720px*/
    margin: 0px auto;   
}

/*PAGES*/
/*Privacy*/
.content--privacy {
    color: #FDF5BF;
    font-family: 'Montserrat Alternates', sans-serif;    
    margin-top: 77px;    
}

.card--privacy {
    margin-bottom: 3rem;    
    background-color: rgba(83, 19, 30, 0.8);
    box-shadow: 0 0 1rem #53131E, 0 0 2rem #FE5F55;
}

.bg-logo--privacy {
    background-image: url(../images/logo/logo-dark_sienna.svg);
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0 0 0.125rem #FE5F55);        
}

.card-title--privacy {
    margin-bottom: 0;
    padding: 5% 0;
    font-family: 'Courgette', sans-serif, cursive;
    font-size: 3.5rem;
    text-shadow: 0 0 0.2rem #53131E, 0 0 0.2rem #53131E;
}

h2.card-subtitle {
    font-family: 'Courgette', sans-serif, cursive;
}

.card-body--privacy {
    padding: 1.25rem 2rem;
}

/*Error*/
.error {
    height: 100vh;    
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0 0 0.125rem #FDF5BF;
    text-align: center;   
}

.error__box-img {    
    background-image: url(../images/logo/logo-blond.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.error__heading {
  margin-bottom: 2rem;
  padding-top: 7rem;
  font-size: 7rem;  
}

.error__text {
  margin-bottom: 2rem;  
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 0.125rem black;
}

/* 404 */
.error-notfound {    
    color: #FE5F55;    
    background-color: #53131E;
}

/* 500 */
.error-server {    
    color: #48A9A6;    
    background-color: #003249;
}

/*About*/
.profile-pic {
    height: 100px;
    width: 100px;
}

/** Breakpoints */
/** 400px or smaller */
@media (max-width: 25rem) {
    .bg-logo--privacy {    
        background-size: 95%;
    }
    .card-title--privacy {        
        font-size: 2rem;
    } 

    .error__heading {    
    font-size: 5rem;  
    }
    .error__text {
        padding: 1rem;        
        font-size: 1.2rem;        
    }    
}

/** 704px or smaller */
@media (max-width: 44rem) {
    .bg-logo--privacy {    
        background-size: 65%;        
    }
    .card-title--privacy {        
        font-size: 2.5rem;
    } 
}

/* Medium screen device */
@media (min-width: 768px) {
    .card {
        max-width: 25rem;
    }

    .registerlogin-wit {
        height: 300px;
    }

    .custom-form {
        width: 80%;
    }
}

/* Large screen device */
@media (min-width: 992px) {
    .card {
        max-width: 30rem;
    }

    .custom-form {
        width: 60%;
    }
}

/** 1072px or smaller */
@media (max-width: 67rem) {
    .bg-logo--privacy {    
        background-size: 55%;
    }  
}