@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@100;300;400;700&display=swap');
/*base*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* main page styles */

body {
    background: -moz-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: -o-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    background: linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(255,255,255,1) 50%, rgba(254,95,85,1) 100%);
    width: 100%;
    height: 60rem;
    background-repeat: no-repeat;
}

#welcome-text {
    font-family: 'Courgette', sans-serif, cursive;
    vertical-align: middle;
    font-size: 30vh;
    font-size: 15vw;
}

div.container4 {
    height: 10em;
    position: relative }
div.container4 h1 {
    margin: 0;
    position: absolute;
    top: 250%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

div.container2 {
    height: 10em;
    position: relative }
div.container2 button {
    margin: 0;
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

div.container2 button {
    font-size: 30px;
    background-color: #003249;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

div.container2 button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
/* end main page styles */

div.womenintech h2 {
    text-decoration: underline;
}

html {
    font-size: 100%;   
}

a {
    color: inherit;
    text-decoration: none;
}

/*COMPONENTS*/
/*button*/
.error__button {
    display: inline-block;  
    padding: 0.5rem 0.6rem;
    margin-bottom: 1rem;
    
    color: #FDF5BF;
    font-size: 1.2rem;
    font-weight: bold;   
    text-shadow: 0 0 0.2rem black;

    border-radius: 2rem;
    box-shadow: 0 0 0.15rem #FDF5BF;

    cursor: pointer;
}

.error__button--notfound {
    background-color: #FE5F55;
    border: solid 0.1rem #FE5F55;
}
.error__button--notfound:hover {    
    background-color: rgb(253, 65, 51);
}

.error__button--server {
    background-color: #48A9A6;
    border: solid 0.1rem #48A9A6;  
}
.error__button--server:hover {    
    background-color: rgb(13, 131, 127);
}

/*LAYOUT*/
/*container*/
.error__container {  
    max-width: 40rem;/*720px*/
    margin: 0px auto;   
}

/*PAGES*/
/*Error*/
.error {
    height: 100vh;    
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0 0 0.125rem #FDF5BF;
    text-align: center;   
}

.error__box-img {    
    background-image: url(img/logo-blond.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.error__heading {
  margin-bottom: 2rem;
  padding-top: 7rem;
  font-size: 7rem;  
}

.error__text {
  margin-bottom: 2rem;  
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 0.125rem black;
}

/*404*/
.error-notfound {    
    color: #FE5F55;    
    background-color: #53131E;
}

/*500*/
.error-server {    
    color: #48A9A6;    
    background-color: #003249;
}

/** Breakpoints */
/** 400px or smaller */
@media (max-width: 25rem) {
    .error__heading {    
    font-size: 5rem;  
    }
    .error__text {
        padding: 1rem;        
        font-size: 1.2rem;        
    }    
}