{% extends 'base.html' %}

{% block content %}
    <section class="error-server">            
        <div class="error__container error__box-img">                                   
            <h1 class="error__heading">Oops!<br> 500</h1>
            <h3 class="error__text">
                It looks like that there is an internal server error.
            </h3>
            <!-- Href Home Button -->
            <div> 
                <button class="error__button error__button--server">
                    <a href="index.html" aria-label="Back Home!">
                        Back Home!
                    </a>
                </button>
            </div>
        </div>            
    </section>  
{% endblock %}