{% extends 'base.html' %}

{% block content %}
    <section class="about">
        <div class="container content">
            <div class="row">
                <div class="col-sm-12 text-center about-title">
                    <h2>Women in Tech Forum</h2>
                </div>
            </div>
            <div class="row about-row">
                <div class="col-sm-12 text-center">
                    {% if 'username' in session %}
                    <p class="page-desc">
                        Welcome {{ session['username'] }}. 
                    </p>
                    <p class="page-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, illo.
                    </p>
                    {% else %}
                    <p class="page-desc">You are not logged in to view this page. Please login!</p>
                    <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
                    {% endif %}
                </div>
                <div class="col-sm-12 brand-logo" aria-label="Brand Logo"></div>
            </div>
        </div>
    </section>

    <section class="lower-section">
        <div class="container">
            <div class="row forum-row">
                <div class="col-sm-12 text-center">
                    <h2 class="about-title">Posts</h2>
                </div>
                {% for post in posts %}
                <div class="col-md-12 col-lg-6 text-center">
                    <div class="forum-post">
                        <!-- Anchor element with empty span used to allow user to click anywhere on post
                            to be brought to full post view -->
                        <a href="{{ url_for('post_view', post_id=post._id) }}">
                            <span class="div-url-overlay"></span>
                        </a>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content|truncate(40) }} <span><small class="sub-text">{{ post.username }} - {{ post.date }}</small></span></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}