{% extends 'base.html' %}

{% block content %}

<div class="container womenintech">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Inspirational Women in Tech</h1>
            <hr>
            <p class="text-center">Welcome to the Inpirational Women in Tech page! Role models are important for any
                field, and in the field of technology women have, for centuies, been an influential presence.
                The work of numerous women through the years has helped to shape the direction and vision of
                technological advances. This page aims to highlight the achievements of some of these important women,
                and to encourage others to pursue a career in STEM.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ url_for('static', filename='images/adalovelace.png') }}" alt="painting of Ada Lovelace"
                class="inspirationalwomenpics">
            <h2>Ada Lovelace</h2>
            <p>It would be remiss of any page dedicated to inspirational women in tech not to start with Ada Lovelace.
                As the child of ord Byron, she was given extensive tuition in mathematics and science.
                Through her later friendship with Charles Baggage, she translated a French article on his "Analytical
                Engine", which
                resembled a modern computer. Her extensive notes on that project were later used by Alan Turing as
                inspiration for
                his work in the 1940s.
                <br>
                More can be read about her life and work <a href="https://en.wikipedia.org/wiki/Ada_Lovelace"
                    target="_blank">here</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ url_for('static', filename='images/reshmasaujani.png') }}" alt="picture of Reshma Saujani"
                class="inspirationalwomenpics">
            <h2>Reshma Saujani</h2>
            <p>Reshma Saujani is the founder and CEO of Girls Who Code, a non-profit organisation that works to try and
                close the gender gap in the tech industry. She spoke at the 2017 American Library Association Conference
                in support of programmes that specifically targeted girls entering computer science.
                <br>
                More information about Girls Who Code can be found <a href="https://girlswhocode.com/"
                    target=_blank>here</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ url_for('static', filename='images/ellenkpao.png') }}" alt="picture of Ellen K. Pao"
                class="inspirationalwomenpics">
            <h2>Ellen K. Pao</h2>
            <P> Ellen K. Pao is the co-founder and CEO of Project Include, which is a non-profit organisation that is
                focused on improving diversity within the tech industry. She was a former CEO of Reddit and has written
                for the <i>New York Times</i> and <i>The Washington Post</i>.
                <br>
                More information on Project Include can be found <a href="https://projectinclude.org/"
                    target=_blank>here</a>
            </P>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ url_for('static', filename='images/kimberlybryant.png') }}" alt="picture of Kiberly Bryant"
                class="inspirationalwomenpics">
            <h2>Kimberly Bryant</h2>
            <p>Kimberly Bryant is the founder and CEO of Black Girls Code, which strives to increase the number of women
                in colour in tech. In 2013, she was recognised as a White House Champion of Change for Tech Inclusion,
                and in 2014, she recieved the American Ingenuity Award for Social Progress from the Smithsonian
                Magazine.
                <br>
                More information regarding the website can be found <a href="https://www.blackgirlscode.com/"
                    target=_blank>here</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}