{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="" alt="">
            <h2>Reshma Saujani</h2>
            <p>Reshma Saujani is the founder and CEO of Girls Who Code, a non-profit organisation that works to try and close the gender gap in the tech industry.
                <br>
                More information about Girls Who Code can be found <a href="https://girlswhocode.com/">here</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="" alt="">
            <h2>Ellen K. Pao</h2>
            <P> Ellen K. Pao is the co-founder and CEO of Project Include, which is a non-profit organisation that is focused on improving diversity within the tech industry.
                <br>
                More information on Project Include can be found <a href="https://projectinclude.org/">here</a>
            </P>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="" alt="">
            <h2>Kimberly Bryant</h2>
            <p>Kimberly Bryant  is the founder and CEO of Black Girls Code, which strives to increase the number of women in colour in tech.
                <br> 
                More information regarding the website can be found <a href="https://www.blackgirlscode.com/">here</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}