{% extends 'base.html' %}

{% block content %}
    <section class="about content">
        <div class="container">
            <div class="row">
                {% if 'username' in session %}
                <div class="col-sm-12 text-center about-title">
                    <h2>{{ post.title }}</h2>
                    {% if post.username == session['username'] %}
                    <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn btn-primary">Edit Post</a>
                    <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn btn-danger">Delete Post</a>
                    {% endif %}
                </div>
                <div class="col-sm-12 text-center">
                    <small class="sub-text">{{ post.username }} on {{ post.date }}</small>
                </div>
                    {% if post.inspirational_quote %}
                    <div class="col-sm-12 text-center">
                        <small class="sub-text">{{ post.inspirational_quote }}</small>
                    </div>
                    {% endif %}
                <div class="col-sm-12">
                    <p class="post-details">{{ post.content }}</p>
                </div>
                {% else %}
                <p class="page-desc">You are not logged in to view this page. Please login!</p>
                <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
                {% endif %}
                <div class="col-sm-12 brand-logo" aria-label="Brand Logo"></div>
            </div>
        </div>
    </section>
{% endblock %}